/*
* @Author: longtaoge
* @Date:   2017-09-04 23:26:10
* @Last Modified by:   longtaoge
* @Last Modified time: 2017-09-04 23:37:09
*/
.content .r_content  .customer{
  
  width: 100%;
  background-color: #fff;


} 



.content .r_content  .customer .des{
  font-size: 22px;
  text-align: center;
  padding: 20px;
  background-color: rgba(255,213, 27, 0.6);
 

}



.content .r_content  .customer .contents {
   padding-top: 20px;
   padding-bottom: 20px;
  width: 480px;
  margin: 0px auto;

}