/*
* @Author: longtaoge
* @Date:   2017-09-03 20:20:23
* @Last Modified by:   longtaoge
* @Last Modified time: 2017-09-16 08:50:32
*/
.r_content .r_content_box .news{

   
   	padding: 10px;
}

.r_content .r_content_box .news ul {

  margin-right: 10px;
  padding: 10px;
  border: 1px solid   #CCCCCC;
  border-radius: 5px;
  width: 96%;
  float: left;
  text-align: center;
}

.r_content .r_content_box .news ul li {
	width: 25%;
	float: left;
}

.r_content .r_content_box .news .type{

   display: block;
  height: 45px;
  background: rgb(88, 174, 5);
  line-height: 45px;
  margin: 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;




}

.r_content .r_content_box  .newslist {
	 background-color:rgba(255, 255, 255,0.9); 
	
}



.r_content .r_content_box  .newslist li{

	border-bottom: 1px dashed #ddd;
	padding-left: 20px;
	height: 45px;
	line-height: 45px;
	width: 100%;

}

.r_content .r_content_box  .newslist li a{
  
  width: 100%;
  

}


.news_content{
      width: 100%;
      padding-top: 50px;
      min-height: 100%;
      text-align: center;
      background-color:rgba(255, 255, 255,0.7);  
}

.news_content .title{
      font-size: 23px;
      margin-bottom: 20px;
}
            
.news_content .content{

      margin-top: 20px;
      font-size: 20px;
      padding: 30px;
}


 .news_content .des{
        margin-top: 50px;
        height: 50px;
        width: 80%;
        margin: 0px auto;

    }

.news_content .des .author{
        width: 16em;
        float: left;

}

.news_content .des .source{
         width: 16em;
        float: left;
}

.news_content .des .publish_time{
        float: right;
         width: 15em;
    }   



