/*
* @Author: longtaoge
* @Date:   2017-09-03 19:48:51
* @Last Modified by:   longtaoge
* @Last Modified time: 2017-09-05 16:05:42
*/
.content .r_content .productShopWindow .photo  img{

 align-self: center;
 margin: 10px auto;
 width: 90%;
 padding: 5px;
 height: 120px;
 background: white;
 border: 1px solid #CCCCCC;

}

.content .r_content .productShopWindow .photo .des{

  text-align: center;
  margin-bottom: 10px;
}


.content .r_content .productShopWindow .photo .des span{
   color: red;

}



/* 相册相关  START */


  /* 外边大盒子 */

    .potho {
        width: 700px;
        background-color: rgba(255,213, 27, 0.6);
        height: 400px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    /* 大图盒子 */

    .potho .bigimg {
        height: 0px;
        overflow: hidden;
    }
    /* 大图 */

    .potho .bigimg img {
        float: left;
        display: none;
        position: absolute;
    }

    .potho .bigimg .activi {

        display: block;
    }



    .potho .bigimg .tip h3 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        position: absolute;
        padding: 10px;
        background-color: rgba(55, 55, 55, 0.0);
        top: 275px;
        color: transparent;
    }
    /* 小图盒子 */

    .potho .smallimg {
        align-items: center;
        position: absolute;
        height: 60px;
        overflow: hidden;
        bottom: 10px;
    }
    /** 小图列表 */

    .potho .smallimg li {
        float: left;
        overflow: hidden;
        margin-left: 5px;
        text-align: center;
        margin-right: 5px;

        width: 60px;
    }


    .potho .smallimg li img {
        width: 100%;
    }
    /* 按钮 */

    .potho .l,
    .potho .r {
        position: absolute;
        top: 140px;
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);

        color: transparent;
        width: 30px;
        height: 50px;
        line-height: 50px;
    }

    .potho .l {
        left: 0px;
    }

    .potho .r {
        right: 0px;
    }


    .bigimg:hover .l,
    .bigimg:hover .r,
    .bigimg:hover .tip h3 {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.3);
    }



    .smallimg ul li {
        position: relative;
    }


    .smallimg ul li span.mask {
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .smallimg ul li .border {
        width: 54px;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;
        border: 3px solid #98E404;
    }


    .smallimg ul li .activi {

        display: block;
    }


    .smallimg ul li:hover .border {
        display: block;
    }


/* 相册相关  END */
