<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width" >
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/index.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/introduce.css">
</head>

<body>
    <!-- 通用背景 -->
    <div class="bodybg">
    </div>
    <div class="box w ">
        <div class="contentbg w">
        </div>
        <div class="banner w">
            <img src="./Public/Home/img/bannerbg.gif">
        </div>
        <!--  导航区 -->
        <div class="nav w ">
            <ul clearfix>
               <li><a href="?">  首页 </a></li>
                <li><a href="?c=Introduce"  class="activity"  >公司介绍</a></li>
                <li><a href="?c=Category" >供应产品</a></li>
                <li><a href="?c=Photo">公司相册</a></li>
                <li><a href="?c=News">公司动态</a></li>
                <li><a href="?c=Cooperate">合作交流</a></li>
                <li><a href="?c=Customer" >客户见证</a></li>
                <li><a href="?c=Map">公司地图</a></li>
                <li><a href="?c=Contact" >联系我们</a></li>
            </ul>
        </div>
        <!-- 广告区 -->
        <div class="ad w ">
            <img src="./Public/Home/img/ad.bmp">
            <div class="contentbg w">
            </div>
        </div>
        <!-- 内容区 -->
        <div class="content   w ">
            <!-- 左侧 -->
            <div class="l_content ">
                <!-- 企业档案 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>企业档案</h3>
                    
                    </div>
                    <h4>河北石家庄华北食品城石家庄乡巴佬食品商行</h4>
                    <div class="des">
                     <div> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2357261533&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2357261533:51" alt="与我联系" title="与我联系"/></a>
                         <br>
                        </div>  
                        <p> 工商注册信息：已认证</p>
                        <p> 所在地区：河北省 石家庄市</p>
                    </div>
                </div>
                <!-- 产品分类 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>产品分类</h3>
                        <a href="?c=Category">更多  &gt;</a>
                    </div>
                    <div class="product_type">
                        <ul>
                          <{foreach $categorys as $row}>
                             <li><a href="javascript:;"><{$row.catagory_name}></a></li>
                          <{/foreach}>
                        </ul>
                    </div>
                </div>
                <!-- 分司动态 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>公司动态</h3>
                        <a href="?c=News"  >更多 &gt;</a>
                    </div>
                    <div class="product_type">
                        <ul>
                          <{foreach $news as $row}>
                           <li><a href="?c=News&a=newsDetail&news_id=<{$row.news_id}>"><{$row.title}></a></li>
                          <{/foreach}>
                        </ul>
                    </div>
                </div>
                <!-- 相册橱窗 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>相册橱窗</h3>
                        <a href="?c=Photo">更多  &gt;</a>
                    </div>
                    <div class="product_img">
                        <ul>
                         <{foreach $photos as $row}>
                             <a href="?c=Photo&a=photosDetail&id=<{$row.category_id}>"><img src="<{$row.photo_url}>" alt="<{$row.photo_des}>"></a>
                          <{/foreach}>
                        </ul>
                    </div>
                </div>
                <!-- 最新供应 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>最新供应</h3>
                        <a href="?c=Category">更多  &gt;</a>
                    </div>
                    <div class="product_img">
                        <ul>
                          <{section name=index start=0 loop=2 step=1}>
                           <{if $newgoods!=null}>
                           <a href="?c=Category&a=detail&goods_id=<{$newgoods[index].goods_id}>"><img src="<{$newgoods[index].goods_pic}>" alt="<{$newgoods[index].goods_name}>"></a>
                           <{/if}>
                         <{/section}>
                        </ul>
                    </div>
                </div>
                    <div class="l_content_box">
                    <div class="lb_title">
                        <h3>联系我们</h3>
                        <a href="?c=Contact">更多  &gt;</a>
                    </div>
                     <div class="des">
                        <p> 联系人 : 魏先生    </p>
                        <p> 电&nbsp;&nbsp;&nbsp;话: 311-8523872-8</p>
                        <p> 手&nbsp;&nbsp;&nbsp;机: 1316738933-8</p>
                       
                      
                    </div>
                </div>




            </div>
            <!-- 右侧 -->
            <div class="r_content">
                <!-- 产品橱窗 开始-->
                <div class="r_content_box">
                    <div class="rb_title">
                        <h3>产品橱窗</h3>
                        <a href="?c=Category">更多  &gt;</a>
                    </div>
                    <div class="productShopWindow linebg  clearfix  ">
                        <ul>
                        <{foreach $goods as $row}>
                        <a href="?c=Category&a=detail&goods_id=<{$row.goods_id}>">  
                            <li>
                                <div class="pbox"> <img src="<{$row.goods_pic}>"  alt="<{$row.goods_name}>">
                                    <div class="des">
                                         <p>价格: <span>面议</span></p> <{$row.goods_name}>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <{/foreach}>
                        </ul>
                    </div>
                </div>
                <!-- 产品橱窗 结束-->
                <!-- 公司介绍 开始-->
                <div class="r_content_box  ">
                    <div class="rb_title">
                        <h3>公司介绍</h3>
                    </div>
                    <div class="enter_des linebg">
                        <img src="./Public/Home/img/shipincheng.jpg" alt="华北食品城">
                        <p> 本公司位于河北省石家庄市平西路与西二环交叉口华北食品城，主营 休闲食品/肉制品/乡吧佬系列/火腿腿系列/麻辣系列/泡爪系列…… 等。公司秉承“顾客至上，锐意进取”的经营理念，坚持“客户第一”的原则为广大客户提供优质的服务。欢迎惠顾 石家庄市西二环与和平路交叉口，南靠307国道，距石太高速公路2.5公里，距107国道复线2公里，市公交76路、快4路、旅游2路车直达食品城，公路运输四通八达，交通便利，地理位置极为优越。 华北食品城位于石家庄二环路市场带，南邻河北省最大的农产品批发市场---石家庄桥西蔬菜中心批发市场，北邻华闽日化百货，西邻东鑫商贸中心,华北食品城区位优势明显，是理想的经营场所。 　　 一期工程占地80余亩，经营门市800余间，批发商800余户，汇集了全国上千个知名厂家直销处及厂家总代理3万余个品种，经营品类包括各类小食品、副食品、糖果、粮油、烟、酒、茶各种饮品等。华北食品城规划建设布局合理，门市之间通道为封闭式大棚，可防雨、防晒，方便客商进行交易，是广大客户理想的货源基地。现日成交额1000万元，日客流量1万余人。食品城设有市场管理处，治安派出所，工商管理所，巡回法庭等管理机构，确保市场交易公平、公正。保安24小时昼夜服务，确保客户人身及货物的安全。同时食品城还建有铁路专用线，停车场、标准库房，住宿、餐饮，托运、银行、咨询处等完善配套的设施，为广大客户提供行情信息、代购、代销、运输、金融及吃、住、行等全方位服务。 主营商品：小食品、副食品、糖果、粮油、烟、酒、茶各种饮品等 </p>
                    </div>
                </div>
                <!-- 公司介绍 结束-->
                <!-- 详细信息 开始-->
                <div class="r_content_box  ">
                    <div class="rb_title ">
                        <h3>详细信息</h3>
                    </div>
                    <div class="productShopWindow  clearfix  linebg ">

                    <table class="detail_table">
                    <tbody>
                        <tr>
                            <td class="odd">主营产品或服务:</td>                        
                            <td class="even"> 乡巴佬,乡巴佬鸡腿,乡吧佬</td>
                            <td class="odd" >主营行业:</td>                        
                            <td class="even">快消食品</td>                        
                        </tr>       
                          <tr>
                            <td class="odd">企业类型:</td>                        
                            <td class="even">个体经营</td>
                            <td class="odd" >经营模式</td>                        
                            <td class="even">贸易型</td>                        
                        </tr>      
                           <tr>
                            <td class="odd">注册地址:</td>                        
                            <td class="even">石家庄市华北食品城13区</td>
                            <td class="odd" >经营地址:</td>                        
                            <td class="even">河北省石家庄市桥西区华北食品城13区</td>                        
                        </tr>     
                            <tr>
                            <td class="odd">公司成立时间:</td>
                            <td class="even"> 2003-09-08</td>
                            <td class="odd" >法定代表人/负责人:</td>
                            <td class="even">魏先生</td>       
                        </tr>                 
                            <tr>
                            <td class="odd">员工人数:</td>
                            <td class="even"> 少于10人</td>
                            <td class="odd" >年营业额:</td>
                            <td class="even"> </td>       
                        </tr>                   
                            <tr>
                            <td class="odd">经营品牌:</td>
                            <td class="even"> 双汇,金锣,雨润,德大,乡吧佬等</td>
                            <td class="odd" >注册资本:</td>
                            <td class="even">人民币10-50万</td>       
                        </tr>                   
                        <tr>
                            <td class="odd">主要客户群:</td>
                            <td class="even">华北地区食品批发商,大中型超级市场</td>
                            <td class="odd" >主要市场:</td>
                            <td class="even">河北,山西,内蒙,陕西</td>  
                        </tr>                    
                          <tr>
                            <td class="odd">是否提供OEM服务:</td>
                            <td class="even">是</td>
                            <td class="odd" >研发部门人数:</td>
                            <td class="even">少于五人</td>  
                        </tr>    
                           <tr>
                            <td class="odd">月产量:</td>
                            <td class="even"> </td>
                            <td class="odd" >厂房面积:</td>
                            <td class="even">无</td>  
                        </tr> 
                         <tr>
                            <td class="odd">质量控制:</td>
                            <td class="even">内部</td>
                            <td class="odd" >管理体系认证:</td>
                            <td class="even"> </td>  
                        </tr>    
                        <tr>
                            <td class="odd"> </td>
                            <td class="even"> </td>
                            <td class="odd" > </td>
                            <td class="even"> </td>  
                        </tr>  
                        <tr>
                            <td class="odd"> </td>
                            <td class="even"> </td>
                            <td class="odd" > </td>
                            <td class="even"> </td>  
                        </tr>  



                    </tbody> 
                    

                    </table>
                       
                    </div>
                </div>
                <!-- 详细信息 结束-->
            
            </div>
         
        </div>


    </div>

     <!-- 页脚开始 -->
            <div class="footer ">
               <ul>
                    <li>河北省石家庄市乡巴佬食品批发中心 版权所有</li>
                    <li>地址:&nbsp;石家庄市华北食品城 电话:&nbsp;0311-8523872-8</li>
                    <li> <span class="icp"> 友情链接&nbsp;</span> <a href="http://www.xiangbalao.org"> 乡吧佬食品</a>&nbsp;&nbsp;<a href="http://www.huabeishipin.cn">华北食品城</a></li>
                    <li> <span><a href="./admin.php?c=Index">管理员入口</a> | <a href="javascript:;">产品地图</a> | <a href="javascript:;">免责声明 | </a><a href="javascript:;">技术支持:北京龙套科技</a></span> </li>
                </ul>
            </div>
            <!-- 页脚结束 -->
</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2f81f66d01634d878d532ec70533641f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>
