<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/index.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/photos.css">
</head>

<body>
    <!-- 通用背景 -->
    <div class="bodybg">
    </div>
    <div class="box w ">
        <div class="contentbg w">
        </div>
        <div class="banner w">
            <img src="./Public/Home/img/bannerbg.gif">
        </div>
        <!--  导航区 -->
        <div class="nav w ">
          <ul clearfix>
                <li><a href="?"  class="activity" >  首页 </a></li>
                <li><a href="?c=Introduce">公司介绍</a></li>
                <li><a href="?c=Category">供应产品</a></li>
                <li><a href="?c=Photo">公司相册</a></li>
                <li><a href="?c=News">公司动态</a></li>
                <!--<li><a href="#">客户反馈</a></li>
                    <li><a href="#">公司招聘</a></li> -->
                <li><a href="?c=Customer">客户见证</a></li>
                <li><a href="?c=Map">公司地图</a></li>
                <li><a href="?c=Contact">联系我们</a></li>
            </ul>
        </div>
        <!-- 广告区 -->
        <div class="ad w ">
            <img src="./Public/Home/img/ad.bmp">
            <div class="contentbg w">
            </div>
        </div>
        <!-- 内容区 -->
        <div class="content   w ">
            <!-- 左侧 -->
            <div class="l_content ">
                <!-- 企业档案 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>企业档案</h3>
                        <a href="#">更多>></a>
                    </div>
                    <h4>河北石家庄华北食品城石家庄乡巴佬食品商行</h4>
                    <div class="des">
                        <p> 魏先生 先生 与我联系</p>
                        <p> 工商注册信息：未认证</p>
                        <p> 所在地区：河北省 石家庄市</p>
                        <img src="./Public/Home/temp_img/scan.png">
                    </div>
                </div>
                <!-- 产品分类 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>产品分类</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="product_type">
                        <ul>
                            <li><a href="#">乡吧佬鸡腿</a></li>
                            <li><a href="#">乡吧佬鸡蛋</a></li>
                            <li><a href="#">乡吧佬鸡蛋</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 分司动态 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>公司动态</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="product_type">
                        <ul>
                            <li><a href="#">乡吧佬食品与OEM贴牌</a></li>
                            <li><a href="#">乡吧佬鸡蛋</a></li>
                            <li><a href="#">乡吧佬鸡蛋</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 相册橱窗 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>相册橱窗</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="product_img">
                        <ul>
                            <li>
                                <a href="#"><img src="./Public/Home/temp_img/图片1.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="./Public/Home/temp_img/图片1.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 最新供应 -->
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>最新供应</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="product_img">
                        <ul>
                            <li>
                                <a href="#"><img src="./Public/Home/temp_img/图片1.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="./Public/Home/temp_img/图片1.png"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l_content_box">
                    <div class="lb_title">
                        <h3>联系我们</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="des">
                        <p> 联系人 : 魏先生 </p>
                        <p> 电&nbsp;&nbsp;&nbsp;话: 0311-85933630</p>
                        <p> 手&nbsp;&nbsp;&nbsp;机: 13167389338</p>
                    </div>
                </div>
            </div>
            <!-- 右侧 -->
            <div class="r_content">
                <!-- 公司相册 开始-->
                <div class="r_content_box">
                    <div class="rb_title">
                        <h3>公司相册</h3>
                        <a href="javascript:;"> </a>
                    </div>
                    <div class="productShopWindow linebg  clearfix  ">
                        <ul>
                            <li>
                               <a href="./photos_detail.html">
                                    <div class="photo"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        乡吧佬鸡腿 <span>(125张)</span>
                                    </div>
                                    </div>
                               </a>
                            </li>
                            <li>
                                <div class="photo"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        乡吧佬鸡脖 <span> 125张</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="photo"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        王中王 <span> 125张</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="photo"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        火腿肠 <span>33张</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="photo"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        牛肉干 <span>34张</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 公司相册 结束-->
                <!-- 产品橱窗 开始-->
                <div class="r_content_box">
                    <div class="rb_title">
                        <h3>产品橱窗</h3>
                        <a href="#">更多>></a>
                    </div>
                    <div class="productShopWindow linebg  clearfix  ">
                        <ul>
                            <li>
                                <div class="pbox"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        <span>价格:125元</span> 乡吧佬鸡腿
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="pbox"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        <span>价格:125元</span> 文字描述
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="pbox"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        <span>价格:125元</span> 文字描述
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="pbox"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        <span>价格:125元</span> 文字描述
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="pbox"> <img src="./Public/Home/img/shipincheng.jpg">
                                    <div class="des">
                                        <span>价格:125元</span> 文字描述
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 产品橱窗 结束-->
            </div>
        </div>
    </div>
    <!-- 页脚开始 -->
    <div class="footer ">
        <ul>
            <li>河北省石家庄市乡巴佬食品批发中心 版权所有</li>
            <li>地址:&nbsp;石家庄市华北食品城 电话:&nbsp;0311-85933630</li>
            <li> <span class="icp"> 沪ICP备08101087号&nbsp; /&nbsp;增值电信业务经营许可证:&nbsp;京ICP证010051号</span></li>
            <li> <span><a href="#">管理员入口</a> | <a href="#">产品地图</a> | <a href="#">免责声明 | </a><a href="#">技术支持:慧聪</a></span> </li>
        </ul>
    </div>
    <!-- 页脚结束 -->
</body>

</html>