<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/index.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/product.css">
</head>

<body>
    <!-- 通用背景 -->
    <div class="bodybg">

    </div>

    <div class="box w ">
        <div class="contentbg w">
        </div>
        <div class="banner w">
            <img src="./Public/Home/img/bannerbg.gif">
        </div>
        <!--  导航区 -->
        <div class="nav w ">
            <ul clearfix>
               <li><a href="?">  首页 </a></li>
                <li><a href="?c=Introduce"  >公司介绍</a></li>
                <li><a href="?c=Category"  class="activity" >供应产品</a></li>
                <li><a href="?c=Photo">公司相册</a></li>
                <li><a href="?c=News" >公司动态</a></li>
                <li><a href="?c=Cooperate">合作交流</a></li>
                <li><a href="?c=Customer" >客户见证</a></li>
                <li><a href="?c=Map"  >公司地图</a></li>
                <li><a href="?c=Contact" >联系我们</a></li>
            </ul>
        </div>
        <!-- 广告区 -->
        <div class="ad w ">
            <img src="./Public/Home/img/ad.bmp">
            <div class="contentbg w">
            </div>
        </div>
        <!-- 内容区 -->
        <div class="content   w ">
           
            <div class="l_content  ">
                <div class="potho">
                        <div class="bigimg clearfix " id="bigimg">
                            <{foreach $photos as $row}>
                            <img class="activi" src="<{$row.photo_url}>" alt="<{$row.photo_des}>" />
                            <{/foreach}>
                            <div class="tip" id="tip">
                                <h3 id="tiptitle"> </h3>
                                <a class="l" href="javascript:void(0)"> > </a>
                                <a class="r" href="javascript:void(0)">
                                    < </a>
                            </div>
                        </div>
                        <div class="smallimg clearfix " id="smallimg">
                            <ul class="clearfix">
                             <{foreach $photos as $row}>
                              <li><img src="<{$row.photo_thum_url}>" /><span class="mask"></span><span class="border"></span></li>
                             <{/foreach}>
                             </ul>
                        </div>
                </div>
            </div>
            <div class="r_content">
                 <div class="r_title"> <{$detailInfo.goods_name}></div>
                 <table>
                      <tr><td>价格:</td> <td><{$detailInfo.goods_price}> </td></tr>
                      <tr><td>品牌:</td> <td><{$detailInfo.brand_name}>  </td></tr>
                      <tr><td>产地:</td> <td><{$detailInfo.goods_place}>  </td></tr>
                      <tr><td>尺寸/重量:</td> <td><{$detailInfo.goods_weight}> (cm/kg) </td></tr>
                      <tr><td>保质期:</td> <td><{$detailInfo.goods_best_date}> </td></tr>
                      <tr><td>颜色:</td> <td><{$detailInfo.goods_price}>  </td></tr>
                </table>
                <hr>
                <div class="detail"> 了解详情 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2357261533&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2357261533:51" alt="与我联系" title="与我联系"/></a>   </div> 
            </div>
        </div>

       <div class="w">
         <div class=" goodsdetail ">

           商品详情:  <{$detailInfo.goods_detail}>
         </div>
       </div>

          
    </div>

          <!-- 页脚开始 -->
            <div class="footer ">
               <ul>
                    <li>河北省石家庄市乡巴佬食品批发中心 版权所有</li>
                    <li>地址:&nbsp;石家庄市华北食品城 电话:&nbsp;0311-8523872-8</li>
                    <li> <span class="icp"> 友情链接&nbsp;</span> <a href="http://www.xiangbalao.org"> 乡吧佬食品</a>&nbsp;&nbsp;<a href="http://www.huabeishipin.cn">华北食品城</a></li>
                    <li> <span><a href="#">管理员入口</a> | <a href="javascript:;">产品地图</a> | <a href="javascript:;">免责声明 | </a><a href="javascript:;">技术支持:北京龙套科技</a></span> </li>
                </ul>
            </div>
            <!-- 页脚结束 -->
              <!-- 相册JS -->
    <script src='./Public/Home/Js/photo.js' type="text/javascript"></script>
</body>

</html>
