<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/index.css">
    <link rel="stylesheet" type="text/css" href="./Public/Home/css/map.css">
    <style type="text/css">
        .empty{
            width: 100%;
            padding-top: 100px;
            height: 600px;
            
            background-color: rgba(255,238,49, 0.5);
            text-align: center;
        }

        .empty .title{
            font-size: 23px;
        }
            
        .empty .message{
            margin-top: 50px;
            font-size: 20px;
        }

    </style>
</head>

<body>
    <!-- 通用背景 -->
    <div class="bodybg">
    </div>
    <div class="box w ">
        <div class="contentbg w">
        </div>
        <div class="banner w">
            <img src="./Public/Home/img/bannerbg.gif">
        </div>
        <!--  导航区 -->
        <div class="nav w ">
            <ul clearfix>
               <li><a href="?"  >  首页 </a></li>
                <li><a href="?c=Introduce"  >公司介绍</a></li>
                <li><a href="?c=Category" >供应产品</a></li>
                <li><a href="?c=Photo">公司相册</a></li>
                <li><a href="?c=News">公司动态</a></li>
                <li><a href="?c=Cooperate">合作交流</a></li>
                <li><a href="?c=Customer" >客户见证</a></li>
                <li><a href="?c=Map" >公司地图</a></li>
                <li><a href="?c=Contact" >联系我们</a></li>
            </ul>
        </div>
        <!-- 广告区 -->
        <div class="ad w ">
            <img src="./Public/Home/img/ad.bmp">
            <div class="contentbg w">
            </div>
        </div>
        <!-- 内容区 -->
        <div class="content   w ">
          

            <div class="empty"> 
                <div class="title"> <{$title}></div>
                <div class="message"><{$message}> </div>

            </div>
            
                    
            

        </div>
    </div>
 
 
    

   


  


</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2f81f66d01634d878d532ec70533641f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>