<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乡吧佬 - 后台管理</title>
    <link rel="stylesheet" href="./Public/Admin/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Public/Admin/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./Public/Admin/assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="./Public/Admin/css/index.css">
</head>
<body>
    
    <!-- 侧边栏 -->
    <div class="aside">
        <!-- 个人资料 -->
        <div class="profile">
            <!-- 头像 -->
            <div class="avatar img-circle">
                <img src="./Public/Admin/uploads/avatar.jpg">
            </div>
            <h4>布头儿</h4>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="./index.html">
                        <i class="fa fa-dashboard"></i>
                        仪表盘
                    </a>
                </li>
                <li>
                    <a href="./user_list.html">
                        <i class="fa fa-group"></i>
                        用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-indent"></i>
                        分类管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled show">
                        <li>
                            <a href="./category.html" class="active">
                                 一级分类
                            </a>
                        </li>
                        <li>
                            <a href="./brand.html">
                                二级分类
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./goods_list.html">
                        <i class="fa fa-cubes pull-left"></i>
                        商品管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <div class="header">
                <nav class="navbar navbar-custom">
                    <div class="navbar-header">
                        <a href="javascript:;" class="navbar-brand">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="./settings.html">
                                <i class="fa fa-user"></i>
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-sign-out"></i>
                                退出
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </nav>          
            </div>
            <div class="body category">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">分类管理</a></li>
                    <li class="active">商品分类</li>
                </ol>
                <div class="page-title">
                    <a href="?c=Category&a=categoryAdd" class="btn btn-success btn-sm pull-right">添加分类</a>
                </div>
                <div class="panel panel-default">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="10%">序号</th>
                                <th>分类名称</th>
                                <th>是否显示</th>
                                <!-- <td>品牌数量</td> -->
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="tpl">
        {{each rows}}
        <tr>
          <!-- <td>{{$index+1}}</td> -->
            <td>{{$value.category_id}}</td>
            <td>{{$value.catagory_name}}</td>
            {{if $value.isDelete === 1}}
            <td>否</td>
            {{else}}
            <td>是</td>
            {{/if}}
            <td>
                <a href="javascript:;" class="btn btn-info btn-xs" onclick="edit({{$value.category_id}})" >编 辑</a>
                <a href="javascript:;" class="btn btn-warning btn-xs" onclick="deleteCategory({{$value.category_id}})">删 除</a>
            </td>
        </tr>
        {{/each}}
    </script>
    <script src="./Public/Admin/assets/jquery/jquery.min.js"></script>
    <script src="./Public/Admin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./Public/Admin/assets/nprogress/nprogress.js"></script>
    <script src="./Public/Admin/assets/artTemplate/template-web.js"></script>
    <script src="./Public/Admin/js/Api.js"></script>
    <script src="./Public/Admin/js/common.js"></script>
    <script>
        $.ajax({
            url: Admin.category_list,
            type: 'get',
            data: {page: 1, pageSize: 10},
            success: function (info) {
                info=$.parseJSON(info);
                var html = template('tpl', info);
                $('tbody').html(html);

            }
        });
        /** 
         * 删除分类
         * @param  {[type]} index [description]
         * @return {[type]}       [description]
         */
        function deleteCategory (index){
            //TODO  
            alert('禁止删除');
        }
        /**
         * 编辑分类
         */
         function edit(index){
            //TODO
            alert('禁止编辑');
         }

    </script>
</body>
</html>