<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>乡吧佬 - 后台管理</title>
    <link rel="stylesheet" href="../Public/Admin/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Public/Admin/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../Public/Admin/assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="./Public/Admin/css/index.css">
</head>

<body>
    <!-- 侧边栏 -->
    <div class="aside">
        <!-- 个人资料 -->
        <div class="profile">
            <!-- 头像 -->
            <div class="avatar img-circle">
                <img src="./Public/Admin/uploads/avatar.jpg">
            </div>
            <h4>管理员</h4>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="?" class="active">
                        <i class="fa fa-dashboard"></i>
                        仪表盘
                    </a>
                </li>
                <li>
                    <a href="?c=User&a=userList">
                        <i class="fa fa-group"></i>
                        用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-indent"></i>
                        品类管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="?c=Category">
                                分类管理
                            </a>
                        </li>
                        <li>
                            <a href="?c=Brand">
                                品牌管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-cubes pull-left"></i>
                        商品管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="?c=Goods">
                                商品列表
                            </a>
                        </li>
                        <li>
                            <a href="?c=Goods&a=goodsAdd">
                                添加商品
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">   
                        <i class="fa fa-camera pull-left"></i>
                        相册管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="?c=Photo">
                                图片列表
                            </a>
                        </li>
                        <li>
                            <a href="?c=Photo&a=photoAdd">
                                添加图片
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">   
                        <i class="fa fa-camera pull-left"></i>
                        新闻管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="?c=News">
                                文章列表
                            </a>
                        </li>
                        <li>
                            <a href="?c=News&a=newsAdd">
                                添加文章
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <div class="header">
                <nav class="navbar navbar-custom">
                    <div class="navbar-header">
                        <a href="javascript:;" class="navbar-brand">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="?c=User&a=settings">
                                <i class="fa fa-user"></i>
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" id="logout">
                                <i class="fa fa-sign-out"></i>
                                退出
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 客户列表 -->
            <div class="body goods-list">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">商品管理</a></li>
                    <li class="active">商品列表</li>
                </ol>
                <div class="page-title">
                    <a href="?c=Goods&a=goodsAdd" class="btn btn-success btn-sm pull-right">添加商品</a>
                </div>
                <div class="goods">
                </div>
                <!-- 分页 -->
                <ul class="pagination pull-right">
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 模板 -->
    <script type="text/template" id="tpl">
        {{each rows}}
        <div class="item">
            <div>
                <img class="pic" src="{{$value.goods_pic_thum}}" alt="">
            </div>
            <div class="info">
                <a href="javascript:;">{{$value.goods_name}}</a>
                <ul class="list-unstyled">
                    <li>
                        <span>商品原价：{{$value.goods_oldPrice}}</span>
                    </li>
                    <li>
                        <span>优惠价：{{$value.goods_price}}</span>
                    </li>
                    <li>
                        <span>商品库存：{{$value.goods_num}}</span>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="./Public/Admin/assets/jquery/jquery.min.js"></script>
    <script src="./Public/Admin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./Public/Admin/assets/nprogress/nprogress.js"></script>
    <script src="./Public/Admin/assets/artTemplate/template-web.js"></script>
    <script src="./Public/Admin/js/Api.js"></script>
    <script src="./Public/Admin/js/common.js"></script>
    <script>
    $.ajax({
        // 请求接口
        url: Admin.goodsList,
        data: { page: 1, pageSize: 10 },
        type: 'get',
        success: function(info) {
            info = $.parseJSON(info);
            console.log(info)
            // 调用模板引擎
            var html = template('tpl', info);
            // 添加DOM
            $('.goods').html(html);
        }
    })
    </script>
</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2f81f66d01634d878d532ec70533641f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>